# ignore bin directories
# matches "bin" in any subfolder
bin/

# ignore target directories
target/
project/
build/
Doc/
doc/
src/test
html/
html.bck/


# ignore tests
en-lanc1
out
en-lanc_1-bi.parDix

# ignore all files ending with ~
*~

# ignore all files ending with bck
*bck

# ignore all files ending with jar
*.jar


